<h1><%=h @dependency.called_place %></h1>

<% @feature = @dependency.feature -%>

<%= render :partial => 'features/show', :locals => {:feature => @feature} %>

<% file_name = @dependency.called_place -%>
