<!-- Navigation Level 2 (Drop-down menus) -->
<div class="nav2">
  <!-- Navigation item -->
  <ul>
    <li><a href="index.html">Home</a></li>
  </ul>
  <!-- Navigation item -->
  <ul>
    <li><a href="index.html">Page Layouts
        <!--[if IE 7]><!-->
      </a>
      <!--<![endif]-->
      <!--[if lte IE 6]><table><tr><td><![endif]-->
      <ul>
        <li><a href="page_layout1.html">Layout-1 (1-col)</a></li>
        <li><a href="page_layout2.html">Layout-2 (2-col)</a></li>
        <li><a href="page_layout3.html">Layout-3 (2-col)</a></li>
        <li><a href="page_layout4.html">Layout-4 (3-col)</a></li>
        <li><a href="page_layout5.html">Layout-5 (3-col)</a></li>
      </ul>
      <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
  </ul>
  <!-- Navigation item -->
  <ul>
    <li><a href="index.html">header-Layouts
        <!--[if IE 7]><!-->
      </a>
      <!--<![endif]-->
      <!--[if lte IE 6]><table><tr><td><![endif]-->
      <ul>
        <li><a href="page_header1.html">header-1 (T+M+B)</a></li>
        <li><a href="page_header2.html">header-2 (T+M)</a></li>
        <li><a href="page_header3.html">header-3 (T+B)</a></li>
        <li><a href="page_header4.html">header-4 (M+B)</a></li>
        <li><a href="page_header5.html">header-5 (T)</a></li>
        <li><a href="page_header6.html">header-6 (M)</a></li>
        <li><a href="page_header7.html">header-7 (B)</a></li>
      </ul>
      <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
  </ul>
</div>
