<!-- Subcontent unit -->
<div class="subcontent-unit-border">
  <div class="round-border-topleft"></div>
  <div class="round-border-topright"></div>
  <h1>Grey - Border</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>
<!-- Subcontent unit -->
<div class="subcontent-unit-border-blue">
  <div class="round-border-topleft"></div>
  <div class="round-border-topright"></div>
  <h1 class="blue">Blue - Border</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>
<!-- Subcontent unit -->
<div class="subcontent-unit-border-green">
  <div class="round-border-topleft"></div>
  <div class="round-border-topright"></div>
  <h1 class="green">Green - Border</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>
<!-- Subcontent unit -->
<div class="subcontent-unit-border-orange">
  <div class="round-border-topleft"></div>
  <div class="round-border-topright"></div>
  <h1 class="orange">Orange - Border</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>
<!-- Subcontent unit -->
<div class="subcontent-unit-noborder">
  <div class="round-noborder-topleft"></div>
  <div class="round-noborder-topright"></div>
  <h1>Grey - No border</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>
<!-- Subcontent unit -->
<div class="subcontent-unit-noborder-blue">
  <div class="round-noborder-topleft"></div>
  <div class="round-noborder-topright"></div>
  <h1 class="blue">Blue - No border</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>
<!-- Subcontent unit -->
<div class="subcontent-unit-noborder-green">
  <div class="round-noborder-topleft"></div>
  <div class="round-noborder-topright"></div>
  <h1 class="green">Green - No border</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>
<!-- Subcontent unit -->
<div class="subcontent-unit-noborder-orange">
  <div class="round-noborder-topleft"></div>
  <div class="round-noborder-topright"></div>
  <h1 class="orange">Orange - No border</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>
<!-- Subcontent unit -->
<div class="subcontent-unit-border">
  <div class="round-border-topleft"></div>
  <div class="round-border-topright"></div>
  <div class="oktopartial_replace">/parts/login_form.html</div>
</div>
<!-- Subcontent unit -->
<div class="subcontent-unit-border">
  <div class="round-border-topleft"></div>
  <div class="round-border-topright"></div>
  <h1>Search</h1>
  <div class="oktopartial_replace">/parts/search_form.html</div>
</div>
<!-- Subcontent unit -->
<div class="subcontent-unit-border">
  <div class="round-border-topleft"></div>
  <div class="round-border-topright"></div>
  <div class="oktopartial_replace">/parts/text_formats.html</div>
</div>
