<!-- Sitelogo and sitename -->
<a class="sitelogo" href="http://www.free-css.com/"></a>
<div class="sitename">
  <h1><a href="http://www.free-css.com/">MULTIFLEX&bull;3<span style="font-weight:normal;font-size:50%;">&nbsp;update-7</span></a></h1>
  <h2>Open Source Template</h2>
</div>
<!-- Navigation Level 0 -->
<div class="nav0">
  <ul>
    <li><a href="http://www.free-css.com/"><img src="img/flag_italy.gif" alt="" /></a></li>
    <li><a href="http://www.free-css.com/"><img src="img/flag_germany.gif" alt="" /></a></li>
    <li><a href="http://www.free-css.com/"><img src="img/flag_sweden.gif" alt="" /></a></li>
  </ul>
</div>
<!-- Navigation Level 1 -->
<div class="nav1">
  <ul>
    <li><a href="http://www.free-css.com/">Home</a></li>
    <li><a href="http://www.free-css.com/">About</a></li>
    <li><a href="http://www.free-css.com/">Contact</a></li>
    <li><a href="http://www.free-css.com/">Sitemap</a></li>
  </ul>
</div>
