<!-- A.1 header-BOTTOM -->
<div class="header-bottom">

  <!-- Navigation Level 2 (Drop-down menus) -->
  <div class="oktopartial_replace">/layouts/menu.html</div>

</div>
<!-- A.2 header-BREADCRUMBS -->
<!-- Breadcrumbs -->
<div class="header-breadcrumbs">
  <ul>
    <li><a href="http://www.free-css.com/">Home</a></li>
    <li><a href="http://www.free-css.com/">Web Design</a></li>
    <li><a href="http://www.free-css.com/">Templates</a></li>
    <li>Multiflex-3</li>
  </ul>
  <!-- Search form -->
  <div class="oktopartial_replace">/search/simple.html</div>
</div>
