<div class="page-container">
  <div class="header">
    <div class="oktopartial_replace">/layouts/header.html</div>
  </div>

  <div class="main">
    <div class="main-navigation">
      <div class="round-border-topright"></div>
      <div class="oktopartial_replace">/layouts/navigation.html</div>
    </div>

    <div class="main-content">
      <div class="oktopartial_content"></div>
    </div>

    <div class="main-subcontent">
      <div class="oktopartial_replace">/layouts/subcontents.html</div>
    </div>
  </div>

  <div class="footer">
    <div class="oktopartial_replace">/layouts/footer.html</div>
  </div>
</div>
