<div class="nav2">
  <!-- Navigation item -->
  <ul>
    <li><a href="index.html">Home</a></li>
  </ul>
  <!-- Navigation item -->
  <ul>
    <li><a href="http://www.free-css.com/">Page Layouts
        <!--[if IE 7]><!-->
      </a>
      <!--<![endif]-->
      <!--[if lte IE 6]><table><tr><td><![endif]-->
      <ul>
        <li><a href="/multiflex3/page_layout1.html">Page Layout-1 (1-col)</a></li>
        <li><a href="/multiflex3/page_layout2.html">Page Layout-2 (2-col)</a></li>
        <li><a href="/multiflex3/page_layout3.html">Page Layout-3 (2-col)</a></li>
        <li><a href="/multiflex3/page_layout4.html">Page Layout-4 (3-col)</a></li>
        <li><a href="/multiflex3/page_layout5.html">Page Layout-5 (3-col)</a></li>
      </ul>
      <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
  </ul>
  <!-- Navigation item -->
  <ul>
    <li><a href="http://www.free-css.com/">header-Layouts
        <!--[if IE 7]><!-->
      </a>
      <!--<![endif]-->
      <!--[if lte IE 6]><table><tr><td><![endif]-->
      <ul>
        <li><a href="/multiflex3/header1.html">header-1 (T+M+B)</a></li>
        <li><a href="/multiflex3/header2.html">header-2 (T+M)</a></li>
        <li><a href="/multiflex3/header3.html">header-3 (T+B)</a></li>
        <li><a href="/multiflex3/header4.html">header-4 (M+B)</a></li>
        <li><a href="/multiflex3/header5.html">header-5 (T)</a></li>
        <li><a href="/multiflex3/header6.html">header-6 (M)</a></li>
        <li><a href="/multiflex3/header7.html">header-7 (B)</a></li>
      </ul>
      <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
  </ul>
</div>
