<h1 class="first">Title</h1>
<!-- Navigation with grid style -->
<dl class="nav3-grid">
  <dt> <a href="http://www.free-css.com/">Navlink 11</a></dt>
  <dt> <a href="http://www.free-css.com/">Navlink 12</a></dt>
  <dd> <a href="http://www.free-css.com/">Navlink 121</a></dd>
  <dd> <a href="http://www.free-css.com/">Navlink 122</a></dd>
  <dd> <a href="http://www.free-css.com/">Navlink 123</a></dd>
  <dt> <a href="http://www.free-css.com/">Navlink 13</a></dt>
  <dt> <a href="http://www.free-css.com/">Navlink 14</a></dt>
  <dt> <a href="http://www.free-css.com/">Navlink 15</a></dt>
</dl>

<h1>Title</h1>

<h2>Subtitle</h2>

<!-- Navigation with bullets -->
<dl class="nav3-bullet">
  <dt> <a href="http://www.free-css.com/">Navlink 11</a></dt>
  <dt> <a href="http://www.free-css.com/">Navlink 12</a></dt>
  <dd> <a href="http://www.free-css.com/">Navlink 121</a></dd>
  <dd> <a href="http://www.free-css.com/">Navlink 122</a></dd>
  <dd> <a href="http://www.free-css.com/">Navlink 123</a></dd>
  <dt> <a href="http://www.free-css.com/">Navlink 13</a></dt>
  <dt> <a href="http://www.free-css.com/">Navlink 14</a></dt>
  <dt> <a href="http://www.free-css.com/">Navlink 15</a></dt>
</dl>

<h2>Subtitle</h2>

<!-- Navigation without bullets -->
<dl class="nav3-nobullet">
  <dt> <a href="http://www.free-css.com/">Navlink 11</a></dt>
  <dt> <a href="http://www.free-css.com/">Navlink 12</a></dt>
  <dd> <a href="http://www.free-css.com/">Navlink 121</a></dd>
  <dd> <a href="http://www.free-css.com/">Navlink 122</a></dd>
  <dd> <a href="http://www.free-css.com/">Navlink 123</a></dd>
  <dt> <a href="http://www.free-css.com/">Navlink 13</a></dt>
  <dt> <a href="http://www.free-css.com/">Navlink 14</a></dt>
  <dt> <a href="http://www.free-css.com/">Navlink 15</a></dt>
</dl>

<!-- Login -->
<div class="oktopartial_replace">/session/login_form.html</div>

<!-- Search form -->
<h1>Search</h1>
<div class="oktopartial_replace">/search/simple.html</div>

<!-- Text formats -->
<div class="oktopartial_replace">/parts/text_formats.html</div>
