<!-- Grey - Border -->
<div class="oktopartial_replace">/parts/small_box.html?border=true&color=grey</div>
<!-- Blue - Border -->
<div class="oktopartial_replace">/parts/small_box.html?border=true&color=blue</div>
<!-- Green - Border -->
<div class="oktopartial_replace">/parts/small_box.html?border=true&color=green</div>
<!-- Orange - Border -->
<div class="oktopartial_replace">/parts/small_box.html?border=true&color=orange</div>

<!-- Grey - No Border -->
<div class="oktopartial_replace">/parts/small_box.html?border=false&color=grey</div>
<!-- Blue - No Border -->
<div class="oktopartial_replace">/parts/small_box.html?border=false&color=blue</div>
<!-- Green - No Border -->
<div class="oktopartial_replace">/parts/small_box.html?border=false&color=green</div>
<!-- Orange - No Border -->
<div class="oktopartial_replace">/parts/small_box.html?border=false&color=orange</div>

<div class="subcontent-unit-border">
  <div class="round-border-topleft"></div>
  <div class="round-border-topright"></div>
  <div class="oktopartial_replace">/session/login_form.html</div>
</div>

<div class="subcontent-unit-border">
  <div class="round-border-topleft"></div>
  <div class="round-border-topright"></div>
  <h1>Search</h1>
  <div class="oktopartial_replace">/search/simple.html</div>
</div>

<div class="subcontent-unit-border">
  <div class="round-border-topleft"></div>
  <div class="round-border-topright"></div>

  <div class="oktopartial_replace">/parts/text_formats.html</div>
</div>
