<div class="oktopartial_menu">
  <ul>
    <li><span class="title">oktopartial menus &raquo;</span></li>
    <li><%= link_to 'contents', :controller => 'oktopartial/contents', :action => 'index' %></li>
    <li><%= link_to 'publications', :controller => 'oktopartial/publications', :action => 'index' %></li>
    <li><%= link_to 'oktopartial@github', 'http://github.com/akm/oktopartial' %></li>
  </ul>
</div>
<br class="oktopartial_clear"/>
