<% content_for(Oktopartial.key_of_content_for_css || :css) do -%>
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/stylesheets/oktopartial.css" />
<% end -%>
<%= render :partial => 'oktopartial/menu' %>

<h1>Oktopartial</h1>
