<% content_for(:css) do -%>
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/stylesheets/oktopartial.css" />
<% end -%>
<%= render :partial => 'oktopartial/menu' %>

<h1>Oktopartial::Cms#new</h1>

